In [1]:
# Import the dependencies

import pandas as pd

import gmaps

import requests

# Import API key

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame

city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kapaa,22.0752,-159.3190,85.48,69,20,8.05,US,2022-09-16 22:10:16
1,1,Albany,42.6001,-73.9662,66.16,66,67,7.61,US,2022-09-16 22:06:40
2,2,Fairbanks,64.8378,-147.7164,57.60,68,75,5.75,US,2022-09-16 22:10:17
3,3,Hobart,-42.8794,147.3294,52.05,84,20,4.00,AU,2022-09-16 22:07:47
4,4,Souillac,-20.5167,57.5167,70.18,83,40,12.66,MU,2022-09-16 22:10:18

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key

gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature

max_temp = city_data_df["Max Temp"]

temps = [max(temp, 0) for temp in max_temp]

In [13]:
# Heatmap of temperature

# Get the latitude and longitude

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature

max_temp = city_data_df["Max Temp"]

# Assign the figure variable

fig = gmaps.figure()

# Assign the heatmap variable

heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer

fig.add_layer(heat_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kapaa,22.0752,-159.3190,85.48,69,20,8.05,US,2022-09-16 22:10:16
5,5,Larkana,27.5551,68.2141,81.09,69,0,9.48,PK,2022-09-16 22:10:18
7,7,Pacific Grove,36.6177,-121.9166,76.39,77,20,12.66,US,2022-09-16 22:06:00
11,11,Kaohsiung,22.6163,120.3133,80.04,84,27,1.01,TW,2022-09-16 22:10:21
13,13,Sanlucar La Mayor,37.3871,-6.2011,76.50,62,0,1.99,ES,2022-09-16 22:10:21
16,16,Port Moresby,-9.4431,147.1797,79.47,80,79,2.24,PG,2022-09-16 22:10:23
19,19,Shingu,33.7333,135.9833,78.31,94,100,16.69,JP,2022-09-16 22:10:24
29,29,Westport,41.1415,-73.3579,75.02,50,0,8.05,US,2022-09-16 22:06:21
32,32,Xapuri,-10.6517,-68.5044,86.92,39,11,1.79,BR,2022-09-16 22:10:29
38,38,Merauke,-8.4667,140.3333,79.47,82,100,9.55,ID,2022-09-16 22:10:32

In [19]:
preferred_cities_df.count()

City_ID       177
City          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
Country       177
Date          177
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0               Kapaa      US     85.48  22.0752 -159.3190
5             Larkana      PK     81.09  27.5551   68.2141
7       Pacific Grove      US     76.39  36.6177 -121.9166
11          Kaohsiung      TW     80.04  22.6163  120.3133
13  Sanlucar La Mayor      ES     76.50  37.3871   -6.2011
16       Port Moresby      PG     79.47  -9.4431  147.1797
19             Shingu      JP     78.31  33.7333  135.9833
29           Westport      US     75.02  41.1415  -73.3579
32             Xapuri      BR     86.92 -10.6517  -68.5044
38            Merauke      ID     79.47  -8.4667  140.3333

In [22]:
# Set parameters to search for a hotel

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary
    
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    
    try:
    
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
    
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,85.48,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Larkana,PK,81.09,27.5551,68.2141,QUEST Boys Hostel
7,Pacific Grove,US,76.39,36.6177,-121.9166,Lovers Point Inn
11,Kaohsiung,TW,80.04,22.6163,120.3133,御宿商旅-中山館
13,Sanlucar La Mayor,ES,76.50,37.3871,-6.2011,Exe Gran Hotel Solucar
16,Port Moresby,PG,79.47,-9.4431,147.1797,Lamana Hotel (Port Moresby)
19,Shingu,JP,78.31,33.7333,135.9833,Shingu UI Hotel
29,Westport,US,75.02,41.1415,-73.3579,The Westport Inn
32,Xapuri,BR,86.92,-10.6517,-68.5044,Pousada dos Chapurys
38,Merauke,ID,79.47,-8.4667,140.3333,

In [25]:
# Add a heatmap of temperature for the vacation spots

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [29]:
# Store the DataFrame Row

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))